:root {
    --yellow: hsl(51, 100%, 49%);
    --red: hsl(7, 99%, 70%);
    --white: hsl(0, 0%, 100%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-desaturated-cyan: hsl(167, 39%, 26%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --footer-bgColor: #9ccec4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.doubleUnderlineYellow {
    padding-bottom: 4px;
    text-decoration: underline var(--yellow);
    border-bottom: 3px solid var(--yellow);
}

.doubleUnderlineRed {
    padding-bottom: 4px;
    text-decoration: underline var(--red);
    border-bottom: 3px solid var(--red);
}

.blackTextColor {
    color: black;
}

.fraunces-font-family {
    font-family: 'Fraunces', serif;
}

.display-flex {
    display: flex;
}

.height-of-sections {
    height: 50vw;
}

.padding-class {
    padding: 0 20% 0 20%;
}

.icon {
    display: none;
}

.responsive-div {
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}

.center-align-text-horizontally {
    text-align: center;
}

.img-header-heading-div {
    align-items: center;
}

.heading {
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    margin-left: 30px;
    font-size: xx-large;
}

.nav-wrapper {
    padding: 2% 5% 0 5%;
}

nav {
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
}

.list {
    font-size: 0.9em;
    align-items: center;
    justify-content: space-between;
}

.list-items {
    display: inline-block;
    transition: 0.3s all;
    font-weight: lighter;
    color: var(--white);
    padding: 0 2rem;
    font-weight: 400;
    text-decoration: none;
}

#contact-div {
    background-color: var(--white);
    border-radius: 50px;
    text-align: center;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.list-items-a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

.list-items-a:hover {
    border-bottom: 3px solid var(--white);
}

.list-items:last-child>a:hover {
    border-bottom: 0px;
}

#contact {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#contact-div:hover {
    background-color: rgba(232, 238, 238, 1);
}

.img-header {
    background-image: url('images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
    position: relative;
}

.img-header-text {
    font-size: 4rem;
    letter-spacing: 5px;
    color: var(--white);
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
}

.img-header-arrow {
    position: absolute;
    left: 48%;
    top: 45%;
}

.mobile-nav {
    display: none;
}

.egg-section-img,
.glass-section-img {
    width: 50%;
}

.egg-section-text h1,
.glass-section-text>h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 6%;
}

.egg-section-text p,
.glass-section-text p {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 6%;
}

.learn-more {
    letter-spacing: 2px;
}

.cherry-section,
.orange-section {
    width: 100%;
    position: relative;
}

#cherry-img,
#orange-img {
    width: 100%;
    height: 100%;
}

.cherry-section-text,
.orange-section-text {
    position: absolute;
    top: 60%;
    padding: 0 10% 0 10%;
    color: var(--dark-desaturated-cyan);
}

.orange-section-text {
    color: var(dark-blue);
}

.cherry-orange-section>section>section>h1 {
    font-size: 2.85rem;
    font-weight: 900;
    margin-bottom: 5%;
}

.cherry-orange-section>section>section>p {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
}

.client-testimonials-section {
    padding-bottom: 5%;
}

.client-testimonials-header {
    color: #a0a0a0;
    font-size: 1.8em;
    letter-spacing: 5px;
    margin: 5% 5% 3.5% 5%;
}

.client {
    flex: 1;
}

.client-img {
    display: block;
    margin: 10% auto;
    height: 25%;
    border-radius: 50%;
}

.client-desc {
    line-height: 1.8;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--very-dark-grayish-blue);
    text-align: center;
    margin-bottom: 13%;
    padding: 0 10%;
}

.client-name {
    text-align: center;
    font-weight: 900;
    margin-bottom: 1.7%;
}

.client-designation {
    text-align: center;
    color: var(--grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
}

.fourImages-section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.fourImages-section>img {
    width: 100%;
}

.milkbottles-section {
    background-image: url('images/desktop/image-gallery-milkbottles.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}

.tangerine-section {
    background-image: url('images/desktop/image-gallery-orange.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}

.cone-section {
    background-image: url('images/desktop/image-gallery-cone.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}

.sugarcubes-section {
    background-image: url('images/desktop/image-gallery-sugarcubes.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-bgColor);
    color: var(--dark-moderate-cyan);
}

.footer-logo {
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
    width: 10rem;
    filter: invert(46%) sepia(55%) saturate(317%) hue-rotate(118deg) brightness(55%) contrast(93%);
}

.footer-know-more {
    margin: 0 35% 5% 35%;
    display: flex;
    justify-content: space-evenly;
}

.footer-know-more>span {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.footer-know-more>span:hover {
    color: var(--white);
    cursor: pointer;
}

.social-icons {
    margin: 0 42% 2% 42%;
    display: flex;
    justify-content: space-evenly;
}

.social-icons>svg>path:hover {
    fill: var(--white);
    cursor: pointer;
}


/* Media queries */

@media screen and (max-width:1200px) {
    .egg-section-text h1 {
        font-size: 2.4rem;
    }
    .glass-section-text h1 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width:1000px) {
    .cherry-orange-section>section>section>h1 {
        font-size: 2.4rem;
    }
    .cherry-section,
    .orange-section {
        height: 30rem;
    }
}

@media screen and (max-width:920px) {
    .egg-section-text h1,
    .glass-section-text h1,
    .cherry-orange-section>section>section>h1 {
        font-size: 2rem;
    }
    .cherry-section-text,
    .orange-section-text {
        top: 55%;
        padding: 0 0;
    }
    .all-clients {
        flex-direction: column;
    }
    .client-img {
        margin: 5% auto;
    }
    .client-desc {
        margin-bottom: 5%;
    }
    .client-designation {
        margin-bottom: 5%;
    }
    .footer-know-more {
        margin: 0 20% 5% 20%;
    }
    .social-icons {
        margin: 0 35% 2% 35%;
    }
}

@media screen and (max-width:800px) {
    .fourImages-section {
        grid-template-columns: 50% 50%;
    }
    .egg-section,
    .glass-section,
    .cherry-orange-section {
        flex-direction: column;
    }
    .wrapper {
        order: 2;
        width: 100%;
        margin: 3rem 0;
    }
    .cherry-section-text,
    .orange-section-text {
        top: 60%
    }
    .egg-section-img,
    .glass-section-img {
        order: 1;
        width: 100%;
    }
    .height-of-sections {
        height: auto;
    }
    .cherry-section,
    .orange-section {
        height: 40rem;
    }
    .footer-know-more {
        margin: 0 20% 8% 20%;
    }
}

@media screen and (max-width: 750px) {
    .desktop-nav {
        display: none;
    }
    .icon {
        display: block;
        float: right;
        cursor: pointer;
    }
    .mobile-nav-visibility {
        display: block;
    }
    .mobile-nav.mobile-nav-visibility {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10%;
        right: 5%;
        left: 5%;
        width: 90%;
        padding: 10% 0 5% 0;
        text-align: center;
        background-color: var(--white);
        z-index: 9;
        clip-path: polygon(0 9%, 92% 9%, 100% 0, 100% 100%, 0 100%);
    }
    .mobile-nav.mobile-nav-visibility>.list-items-mobile-nav {
        text-decoration: none;
        color: hsl(213, 8%, 49%);
        padding: 1.2rem 0;
        font-weight: 600;
    }
    .mobile-nav.mobile-nav-visibility>.list-items-mobile-nav:hover {
        color: rgb(78, 78, 78);
    }
    .list-items-mobile-nav:last-child>a {
        text-decoration: none;
        font-weight: 600;
        color: black;
    }
    .list-items-mobile-nav:last-child {
        cursor: pointer;
        width: 8rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--yellow);
        border-radius: 2rem;
        margin-top: 1.2rem;
        padding: 1rem!important;
    }
    .list-items-mobile-nav:last-child:hover {
        background-color: hsl(51deg 90% 62%);
    }
}

@media screen and (max-width:600px) {
    .img-header-text {
        font-size: 3rem;
    }
    .social-icons {
        margin: 0 30% 2% 30%;
        margin-top: 5%;
    }
    .cherry-section,
    .orange-section {
        height: 30rem;
    }
}